/* yeonsoo-reset */
body * {
    font-family: "Noto Sans KR";
    padding: 0;
    margin: 0;
}

#ft a {
    text-decoration: none;
    color: black;

}

#ft li {
    list-style: none;
    padding: 0;
    margin: 0;
}

#ft button {
    border: none;
}

/* common */
.ir-hidden {
    text-indent: -999rem;
}

.bgactiveColor {
    background-color: #da291c !important;
}

.activeColor {
    color: #da291c !important;
}

/*  */