/* brand */
#section-brand {
  font-family: 'Noto Sans KR', sans-serif;
  padding-bottom: 50px;
}

#section-brand img {
  transform: translateX(100px);
}

#section-brand h2 {
  color: black;
  text-align: center;
  margin-bottom: 50px;
}

#section-brand h3 {
  text-align: center;
  color: red;
  margin-bottom: 20px;
}

#section-brand .sh {
  margin: 20px;
}

#section-brand .dp {
  text-align: center;
}

#section-brand .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

#section-brand #mainSwiper .swiper-slide .sh {
  font-size: 24px;
  transform: translateY(50%);
  transition: 0.5s;
  opacity: 0;
}

#section-brand #mainSwiper .swiper-slide-active .sh {
  transform: translateY(0%);
  opacity: 1;
}

#section-brand .swiper-button-prev,
#section-brand .swiper-button-next {
  top: 40%;
  color: #da291c;
}

#section-brand .swiper-button-prev::after,
#section-brand .swiper-button-next::after {
  font-size: 4rem;
}

#line-banner {
  padding: 100px 0;
}