* {
    margin: 0;
    padding: 0;
}

li,
dl,
dt,
dd,
ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
}



.d-inlineblock {
    display: inline-block;
}


.position-rel {
    position: relative;
}

.position-abs {
    position: absolute;
}

.position-fixed {
    position: fixed;
}

.position-stiky {
    position: sticky;
}

.justifycontent-spacebetween {
    justify-content: space-between;
}

.alignitems-center {
    align-items: center;
}

.overflow-hidden {
    overflow: hidden;
}