#topbanner {
    line-height: 2;
    border-bottom: 1px solid #ccc;
}

#logo {
    height: 400px;
    border-bottom: 1px solid #ccc;
}

#gnb {
    line-height: 4;
    border-bottom: 1px solid #ccc;
}

header ul {
    border-bottom: 1px solid #ccc;
}

#slide-banner {
    height: 500px;
    border-bottom: 1px solid #ccc;
}

#section-brand {
    height: 500px;
    border-bottom: 1px solid #ccc;
}

#section-item {
    height: 500px;
    border-bottom: 1px solid #ccc;
}

#section-instagram {
    height: 500px;
    border-bottom: 1px solid #ccc;
}

.container {
    max-width: 1600px;
    margin: 0 auto;
}

#formBox {
    position: relative;
}

#form .box {
    position: absolute;
    top: 50%;

}

#formhd {
    top: 130px;
    left: 130px;
}

#form .input_box label {
    padding: 10px;
    margin-bottom: 0;
}


#form {
    height: 400px;
    background: url(../image/form0.jpg);
    background-size: cover;
    color: white;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 400;

}

#form input:focus {

    outline: none;
}

#formBox label {
    display: block;
}

#form h2 {
    color: white;
    display: inline-block;
}

#department {
    color: aliceblue;
}

#form p {
    font-size: 18px;
    color: white;
    font-weight: 300;
}

#form .input:focus {
    outline: none;
}

#form .input_box1 {
    margin: 10px auto;
    font-size: 18px;
}

#form .input_box1 input {
    background: url();
    background-size: 0%;
    border: none;
    border-bottom: 1px solid white;
    color: white;

}

#form input::placeholder {
    color: white;

}

#form .text {
    left: 15px;
    margin: 10px 0;
}






#form .list_wrap {
    margin: top 60px;

}

#form .btn {
    float: right;
    color: white;
    background-color: tomato;
    transform: translateY(10px);
    border-radius: 1rem;
}


#form .input_box2 {
    padding: 0 10px;

}


#form label {

    padding: 5px;
}



/* type */
[type="radio"],
span {
    vertical-align: middle;
}

[type="radio"] {
    appearance: none;
    border: max(2px, 0.1em) solid gray;
    border-radius: 50%;
    width: 1.25em;
    height: 1.25em;
    transition: border 0.5s ease-in-out;
}

[type="radio"]:checked {
    border: 0.4em solid white;
}

[type="radio"]:focus-visible {
    outline-offset: max(2px, 0.1em);
    outline: max(2px, 0.1em) dotted red;
}

[type="radio"]:hover {
    box-shadow: 0 0 0 max(4px, 0.2em) tomato;
    cursor: pointer;
}

[type="radio"]:hover+span {
    cursor: pointer;
}

[type="radio"]:disabled {
    background-color: white;
    box-shadow: none;
    opacity: 0.7;
    cursor: not-allowed;
}

[type="radio"]:disabled+span {
    opacity: 0.7;
    cursor: not-allowed;
}

/* brand */
#section-brand {
    font-family: 'Noto Sans KR', sans-serif;
}

#section-brand img {
    transform: translateX(100px);
}

#section-brand h1 {
    color: black;
    text-align: center;

}

#section-brand h2 {

    text-align: center;
    color: red;
    margin-bottom: 20px;

}

#section-brand .sh {
    margin: 20px;
}

#section-brand .dp {
    text-align: center;
}

#section-brand .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
}

#section-brand #mainSwiper .swiper-slide .sh {



    font-size: 24px;
    transform: translateY(50%);
    transition: 0.5s;
    opacity: 0;

}

#section-brand #mainSwiper .swiper-slide-active .sh {
    transform: translateY(0%);
    opacity: 1;
}

#section-brand .swiper-button-prev,
#section-brand .swiper-button-next {
    top: 40%;
    color: black;
}