#topbanner {
  line-height: 2;
}

#logo {
  height: 400px;
}

#gnb {
  line-height: 4;
}

#slide-banner {
  height: 500px;
}

#section-brand {
  height: 500px;
}

#section-item {
  padding: 100px 0;
}

#section-instagram {
  height: 800px;
}

.container {
  max-width: 1600px;
  margin: 0 auto;
  padding: 0;
}