#itemPeel {
  height: 100%;
}

#section-item {
  /* background-image: url("../instagramimg_product/product/background/productbackgroundimage8.jpg"); */
  background-color: #F5F5F7;
  position: relative;

}

/* 검색창 */

#section-item .inputbutton {
  position: relative;
  display: flex;
  justify-content: center;
  width: 500px;
  margin: auto;
}

#section-item .itemgroup {
  width: 900px;
  height: 800px;
  background-color: white;
  border: 1px solid #da291c;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 30px;
}

#section-item input:focus {
  outline: none;
}

#section-item input {
  border: 3px solid #da291c;
  border-radius: 3rem;
  font-size: 2rem;
  width: 100%;
  height: 70px;
  position: relative;
  text-indent: 0.7em;
  background-color: transparent;
}

#section-item button {
  border: 0;
  background-color: #da291c;
  color: white;
  font-size: 1.8rem;
  border-radius: 50%;
  padding: 0.8rem 1.3rem;
  position: absolute;
  right: 0;
}

#section-item .textbox {
  position: relative;
  color: black;
  text-align: center;
}

#section-item .textbox p:first-child {
  font-size: 2.5rem;
}

#section-item .textbox p:last-child {
  font-size: 1.5rem;
}

/* 상품항목 */
#section-item .listgroup div {
  border: 1px solid #ccc;
  border-radius: 2rem;
  overflow: hidden;
  text-align: center;
  margin: 15px 0;
}

#section-item .listgroup div img {
  height: 200px;
}

#section-item .listgroup {
  position: relative;
}


#section-item .listgroup .row li {
  display: none;
}

#section-item .tap>.row {
  box-sizing: border-box;
  display: none;
  flex-wrap: wrap;
}

#section-item .tap {
  display: inline-flex;
}

#section-item .tap.active ul {
  display: flex !important;
}

#section-item .row>li {
  transition: 0.5s;
}

#section-item .tap>a {
  padding: 0.2rem 1rem;
  border: 1px solid #ccc;
  border-radius: 1rem;
  color: black;
  font-size: 1.6em;
}

#section-item .tap.active a {
  background-color: #da291c;
  color: white;
}

#section-item .mainlist {
  margin-top: 80px;
  white-space: wrap;
  text-align: center;
}

#section-item .row>li:hover {
  transform: scale(1.1);
}

#section-item .text {
  width: 45%;
}