#section-item {
  background-image: url("../instagramimg_product/product/background/productbackgroundimage8.jpg");
  position: relative;
  max-width: 100%;
}

/* 검색창 */

#section-item .inputbutton {
  position: relative;
}

#section-item .itemgroup {
  width: 900px;
  height: 700px;
  background-color: white;
  position: relative;
  left: 600px;
  border: 1px solid #ccc;
}

#section-item .itemgroup input:focus {
  outline: none;
}

#section-item .itemgroup input {
  border: 3px solid rgb(218, 41, 28);
  border-radius: 3rem;
  font-size: 2rem;
  width: 600px;
  height: 70px;
  position: relative;
  left: 140px;
  top: 20px;
}

#section-item .itemgroup button {
  border: 0;
  background-color: #da291c;
  color: white;
  font-size: 1.8rem;
  border-radius: 50%;
  padding: 0.8rem 1.3rem;
  position: relative;
  top: 17px;
  left: 66px;
}

#section-item .textbox {
  position: absolute;
  color: white;
  left: 50px;
  top: 90px;
}

#section-item .textbox p:first-child {
  font-size: 2.5rem;
}

#section-item .textbox p:last-child {
  font-size: 1.5rem;
}

/* 상품항목 */

#section-item .listgroup {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 150px;
}

#section-item .listgroup div img {
  width: 200px;
  height: 200px;
  margin: 20px;
  border: 1px solid #ccc;
  border-radius: 2rem;
  margin-left: 40px;
}

#section-item .mainlist .tap>.row {
  position: absolute;
  top: 60px;
  left: 0;
  right: 0;
  bottom: 0;
  box-sizing: border-box;
  display: none;
  flex-wrap: wrap;
}


#section-item .listgroup .row li {
  display: none;

}

#section-item .mainlist .tap {
  display: inline-flex;
}

#section-item .tap.active ul {
  display: flex !important;
}

#section-item .row>li {
  transition: 0.5s;
}

#section-item .tap>a {
  padding: 0.2rem 1rem;
  border: 1px solid #ccc;
  border-radius: 1rem;
  color: black;
}

#section-item .tap.active a {
  background-color: #da291c;
  color: white;
}

#section-item .mainlist {
  margin-left: 50px;
  margin-top: -35px;
}

#section-item .row>li:hover {
  transform: scale(1.2);
}