input {
    border: none;
    border-bottom: 1px solid;
}

.inner {

    height: 400px;
}

#form {


    height: 400px;
    background: url(https://samyangspecialty.com/resources/images/kr/main/bg_interest.jpg);
    background-size: cover;


}

.pet {
    top: 0;
    left: 0;
}